#default_h1 {
    color:white;
}

#default_h2 {
    color:white;
}

#default_p {
    color:white;
    font-size: medium;
}

#nav li {
    float: right;
    padding: 20px;
}

#nav li:hover {
    background: white;
}

#start {
    background:darkblue;
}
#default_li {
    color:white;
}

#default_h3 {
    color:white;
}

#new_p {
    color:white;
}
#default_footer {
    color:white;
}
#BigBangH1{
    color:white;
    font-size: 2em;
}


.header {
    margin: 1 auto;
    max-width: 1500px;
    height: 75px;
    background-color: lightblue;
}

.content {
    margin: 1 auto;
    max-width: 1500px;
    height: 1600px;
    background-color: darkblue;
}

.footer {
    margin: 1 auto;
    max-width: 960px;
    height: 30px;
    background-color: blue;
    vertical-align: middle;
}
.hmpgpic {
    margin: 1 auto;
    max-width: 1500px;
    height: 450px;
    background-color:black;
}
.hmpgpic2 {
    margin: 1 auto;
    max-width: 1500px;
    height: 500px;
    background-color:black;
}


#fhh1{
    color:white;
}
#wch2{
    color:black;
}

.contentwc{
    background-color:white;
}
.contentinfo{
    background-color:darkblue;
    max-width:1500;
    height:700px;
}
.aucontent{
    background-color:white;
    max-width:1500;
    height: 900px;
}
#fhh1{
    color:white;
}
#wch2{
    color:black;
}

.contentwc{
    background-color:white;
}
.contentinfo{
    background-color:darkblue;
    max-width:1500;
    height:700px;
}
.aucontent{
    background-color:white;
    width:1500;
    height: 900px;
}
.row{
    background-color:white;
    width:1500;
    height: 400px;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.Harry_bio{
    background-color:white;
    max-width:500px;
    height: 400px;
    text-align: certer;
}
.Jimmy_bio{
    background-color:white;
    max-width:500px;
    height: 400px;  
}
.Eric_bio{
    background-color:white;
    max-width:500px;
    height: 400px; 
}

    